body {
  padding-top: 50px;
  position: relative;
  background-color: black;
  background-image: image('site_images/pachyderm_banner.jpg');

}
section {
  padding: 18px 0px;
  background-color: white;

}
.modal form {
  margin-bottom: 0px;
}
footer {
    padding-bottom: 18px;
    background-color: white;
    color: black;
}
p.login-signup {
    margin-top: 18px;
}

.feature-columns {
    .make-row();

    > div {
        i.fa {
            margin-bottom: 0.2em;
        }
        .make-sm-column(4);
        .text-center;
        margin: 2em 0;
    }
}

header{
  background-color: white;

}


h1, h2, h3, h4, h5, p {
  color: black;
}


h6{
  color: teal;
  font-size: 16px;
}

h2, h3, h4, h5, h6, p{
  font-family: serif;
}
h1 {
  font-family: times;
  font-size: 70px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

li {
  list-style-type: none;
}

a {
  color: teal;
  font-size: 18px;
}

a:visited {
  color: teal;
}

nav {
  font-size: 18px;
  padding: 18px;
  font-family: times;
}

hr {
  color: teal;
}

.img-responsive{
  width: 100%;
  height: auto;
}
#library_content{
  img{
    border-style: solid;
    border-color: black;
    border-width: 2px;
  }
}

#pricing_content{
  li{
    list-style: circle;
  }
}
