body {
  padding-top: 50px;
  position: relative;
  background-color: white;
  background-image: image('site_images/pachyderm_banner.jpg');

}
section {
  padding: 18px 0px;
  background-color: black;

}
.modal form {
  margin-bottom: 0px;
}
footer {
    padding-bottom: 18px;
    background-color: black;
    font-size: 18px;
}
p.login-signup {
    margin-top: 18px;
}

.feature-columns {
    .make-row();

    > div {
        i.fa {
            margin-bottom: 0.2em;
        }
        .make-sm-column(4);
        .text-center;
        margin: 2em 0;
    }
}

header{
  background-color: black;

}


h1, h2, h3, h4, p {
  color: white;
}

h2, h3, h4, p{
  font-family: serif;
}
h1 {
  font-family: cursive;
  font-size: 70px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 18px;
}

li {
  list-style-type: none;
}

a {
  color: teal;
  font-size: 18px;
}

a:visited {
  color: gray;
}

nav {
  font-size: 18px;
  padding: 18px;
  font-family: cursive;
}
