{% extends "site_base.html" %}

{% load staticfiles %}

{% load bootstrap %}

{% load pinax_ratings_tags %}

{% block page_subtitle %}{{ book.book_title }}{% endblock %}

{% block body %}
<header>
  <h1>{{ book.book_title }}</h1>
  <h2>Author: {{ book.book_author }}</h2>
  <h3>Genre: {{ book.book_genre }}
</header>

<section>
    <img src="{{ book.book_cover.url }}" alt="{{book.book_title}} Book Cover" height="300" width="210">
    <p>Year Published: {{ book.book_year }}</p>
    <p>Book Synopsis:</p>
    <p>{{ book.book_synopsis }}</p>

    {% if book.amazon_link %}
        <p>To buy this book from amazon: <a href="{{book.amazon_link}}">Click Here</a></p>
    {% else %}
        <p>No amazon link available at this time.</p>
    {% endif %}
</section>

<section>
    {% user_rating request.user obj as the_user_rating %}
    <div class="user_rating">{{ the_user_rating }}</div>
    <form method="post" action="">
    {% csrf_token %}
    {{ review_form|bootstrap }}
    <input type="submit" class="btn btn-default">
    </form>
</section>

{% endblock %}
