{% extends "site_base.html" %}

{% load staticfiles %}

{% load bootstrap %}

{% load pinax_ratings_tags %}

{% block page_subtitle %}{{ book.book_title }}{% endblock %}

{% block body %}
<header>
  <h1>{{ book.book_title }}</h1>
  <h2>Author: {{ book.book_author }}</h2>
  <h3>Genre: {{ book.book_genre }}
</header>

<section>
    <img src="{{ book.book_cover.url }}" alt="{{book.book_title}} Book Cover" height="300" width="210">
    <p>Year Published: {{ book.book_year }}</p>
    <p>Book Synopsis:</p>
    <p>{{ book.book_synopsis }}</p>

    {% if book.amazon_link %}
        <p>To buy this book from amazon: <a href="{{book.amazon_link}}">Click Here</a></p>
    {% else %}
        <p>No amazon link available at this time.</p>
    {% endif %}
</section>
<hr>
<section>
    <h3>Reviews</h3>
    {% if book.review_set.all %}
    <div>
        {% for review in book.review_set.all %}
        <div>
            <p>{{ review.book_review }}</p>
            <h6>Rated: {{ review.book_rating }} of 5 by {{ review.user_name }}</h6>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No reviews for {{ book.book_title }} yet.</p>
    {% endif %}
    <h3>Add your review</h3>
    <form action="{% url 'add_review' book.id %}" method="post">
        {% csrf_token %}
        {{ review_form | bootstrap }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>
{% endblock %}
