{% extends "site_base.html" %}

{% load i18n %}

{% block page_subtitle %}Home{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    <header>
      <h1>Pachyderm Publishing</h1>
      <h2>Welcome to the official website of Pachyderm Publishing LLC</h2>
    </header>

    <section>
      <h3>Library Links</h3>
      <p>To view the Pachyderm Publishing library, <a href="{% url 'library' %}">Click Here</a></p>
      <p>To view the library by Genre, <a href="{% url 'genre' %}">Click Here</a></p>
      <p>To view the library by Author, <a href="{% url 'author' %}">Click Here</a></p>

      <hr>

      <a target="_blank" title="find us on Facebook" href="https://www.facebook.com/PachydermPublishingColorado/"><img alt="find us on facebook" src="//login.create.net/images/icons/user/facebook-c_130x50.png" border=0></a>

    </section>

{% endblock %}
