{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}pinax-project-zero{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <header>
      <h1>Pachyderm Publishing</h1>
      <h2>Welcome to the official website of Pachyderm Publishing</h2>
    </header>

    <section>
      <p>To view the Pachyderm Publishing library, <a href="{% url 'library' %}">Click Here</a></p>
      <p>To view the library by Genre, <a href="{% url 'genre' %}">Click Here</a></p>
      <p>To view the library by Author, <a href="{% url 'author' %}">Click Here</a></p>
    </section>

    <section>
      <h3>Contact Information</h3>
      <p>You can reach Pachyderm Publishing via
        <a href="mailto:pachydermpublishing@gmail.com">email</a>.</p>
    </section>
{% endblock %}
