
{% extends "site_base.html" %}
{% load staticfiles %}

{% block page_subtitle %}Library{% endblock %}

{% block body %}
<h1>The Pachyderm Library</h1>

<h2>Select a book from the list:</h2>

<div id="library_content">
<ul>
  {% if book_list %}
    {% for book in book_list %}
    <li><a href="{% url 'book' book.id %}"><img src="{{ book.book_cover.url }}" alt="{{ book.book_title }} cover"
      height="150" width="100" /><p>{{ book.book_title }} ({{ book.book_year }})</p></a><li>
    {% endfor %}
  {% else %}
        <p>No books available</p>
  {% endif %}
</ul>
</div>

{% endblock %}
