{% extends "site_base.html" %}
{% load staticfiles %}

{% block body %}
<header>
  <h1>Mission</h1>
  <h2>The Mission of Pachyderm Publishing</h2>
</header>

<section>
  <p>
    Pachyderm Publishing’s mission is to not only tap into the brightest minds
    in the literary world, but to be an example as well.  To show authors,
    readers and the community that the art of fair business is NOT lost.
    Pachyderm Publishing wants to encourage and motivate authors to invest in
    themselves and put work they can be proud of for years to come.
    By keeping the business small, Pachyderm Publishing believes that an
    intimate relationship (to groom and motivate) will help reach that goal.
  </p>
</section>
{% endblock %}
