{% extends "site_base.html" %}
{% load staticfiles %}

{% block page_subtitle %}Pricing{% endblock %}

{% block body %}
<header>
  <h1>Publishing Pricing</h1>
</header>

<div id="pricing_content">
    <section>
      <h3>Rates</h3>
      <li>* 300 pages and under - <b>$450.00</b> - book cover, minor editing and upload</li>
      <li> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<b>$250.00</b> - no book cover (author has their own), minor editing and upload</li>
      <li>* Over 300-500 pages - <b>$650.00</b> - book cover minor editing and upload</li>
      <li>* Over 500 pages - <b>$850.00</b> - book cover, minor editing and upload</li>
    </section>

    <section>
      <li>** Any work that needs <b>major</b> editing, and the author asks that the publisher
      assist in the process, will require an evaluation of how much work needs to be
      done to determine how much it will cost.</li>

      <li>* Marketing, promoting and distribution - full service branding from Pachyderm
      Publishing LLC is available <b>at rates to be determined</b>. Time would need to be
      taken to discuss this in a more detailed manner.</li>

      <li>* If you need or want any graphic work, that will be a separate price determined
      by the cover designer. Illustration pricing would be determined by the artist.</li>

      <li>** NO REFUNDS once work begins. If you need to make payments on commissioned work,
      that can be done in three installments to pay balance.</li>

      <li>*** Once the final draft and artwork are given to the author for their approval,
      there will only be two revisions done (author will be given ample time to go
      over the final draft and cover before final upload and release date.) After the
      two revisions, the booke goes up for sale or not. NO REFUNDS will be given
      after work has been completed.</li>
    </section>
</div>
{% endblock %}
