{% extends "theme_bootstrap/base.html" %}

{% load staticfiles %}
{% load i18n %}


{# remove to bring back topbar #}
{% block topbar_base %}
  <img src="{{ MEDIA_URL }}/site_images/pachyderm_banner.jpg" alt="pachyderm banner" />
  <nav class="navbar navbar-inverse">
    <a href="{% url 'home' %}">Home</a> |
    <a href="{% url 'library' %}">Library</a> |
    <a href="{% url 'genre' %}">Genres</a> |
    <a href="{% url 'author' %}">Authors</a> |
    <a href="{% url 'mission' %}">Mission</a> |
    <a href="{% url 'contact' %}">Contact</a>
  </nav>
{% endblock %}


{% block styles %}
    {% include "_styles.html" %}
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block scripts %}
    {% include "_scripts.html" %}
{% endblock %}

{% block extra_body_base %}
    {% block extra_body %}{% endblock %}
{% endblock %}
